@media (max-width: 768px) {
    .col-3 {
        display: none;
    }

    .list-group-item.active {
        background-color: #1DA1F2;
        color: #ffffff;
    }
.custom-icon-color{
    color: #1DA1F2;
}

@media (max-width: 768px) {
    .d-xl-inline {
        display: none;
    }
}}
