* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1400px;
    margin: 40px;
    padding:10px;

}


.wd-container {
    max-width: 1400px;
    margin: 40px;
    padding:10px;


}

.wd-bookmarks-arrow{
    width: 48px;
    height: 48px;
    padding-left: 2px;
}
#arrow{
    width: 40px;
    height: 40px;
}


.wd-more-icon {
    float: right;
}

.wd-bookmarks-title {
    font-size: 20px;
    font-weight: bolder;
    padding-left: 30px;

}
.wd-bookmarks-handle {
    font-size: 13px;
    color: lightgray;
    margin-bottom: 12px;
}

table {
    padding:0;
    width: 100%;
}


td.wd-arrow{
    width:20px;

}
td.wd-nested{
    padding:16px
}
.tr:nth-child(even) {
    background-color: white;
}
.wd-tesla{
    vertical-align:top;
    padding-top: 10px;
}
.wd-bookmarks-title-border-bottom {
    width: 598px;
    border: 1px solid #ddd;
}
.wd-bookmarks-border-bottom {
    max-width: 598px;
    border-bottom-style: solid;
}
.wd-bookmarks-post-avatar {
    float: left;
    margin-left: 16px;
}
.wd-bookmarks-post-right {
    float: left;
    margin-left: 12px;
}
.wd-bookmarks-post-avatar img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    overflow: hidden;
}
.wd-bookmarks-post-head{
    font-size: 20px;
}
.wd-bookmarks-post-author {
    font-size: 18px;
    font-weight: bolder;
}
.wd-bookmarks-post-at {
    font-size: 15px;
    color: darkgrey;
}
.wd-bookmarks-post-main-text {
    font-size: 16px;
    max-width: 590px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.wd-bookmarks-post-card-img{
    width: 600px;
    border-radius: 20px;
    border: 1px solid #ddd;
}
.wd-bookmarks-post-card-img img{
    width: 600px;
    height: 300px;
    overflow: hidden;
    border-radius: 18px 18px 0 0;
    border: 1px solid #ddd;
}
.wd-bookmarks-post-src {
    font-size: 12px;
    padding: 2px;
    color: darkgray;
}



.wd-bookmarks-post-text {
    font-size: 16px;
    padding: 12px;
}
.wd-bookmarks-post-moretext{
    font-size: 16px;
    padding: 2px;
    padding-bottom: 10px;
}
.wd-bookmarks-post-icon {
    width: 600px;
    padding-top: 10px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
}
.wd-bookmarks-post-icon div{
    flex-basis: 25%;
    padding-bottom: 12px;
}
.wd-bookmarks-post-icon span {
    padding-left: 12px;
}
.wd-bookmarks-link{
    font-size: 14px;
    color: #1DA1F2;
}
.wd-icon{
    width:20px;
    height: 20px;
    color: #1DA1F2;;
}
.wd-certified-icon{
    color: #1DA1F2;
}
.wd-post-icon{
    width:30px;
    height: 30px;
    color: #1DA1F2;;
}
.wd-select-icon{
    color: deeppink;
}